h1,h2,h3,h4{
    background-color: yellow;
    border-style: solid;
    border-radius:50px ;
    opacity:4 percent;
    font-size: 20 px;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
head{font-size: 50px;}


p{ font-family: sans-serif;
    font-size: 20 px;
    font-style: oblique;



}

.int{float: left;}


.foot{float: right;}

.interests{ margin: 20px;



}
.bukayos{ float:right;

flex-direction: column;}

.cards{
    float: left;
    flex-direction: column;
}

.why{background-color: rgb(51, 83, 245);}







}






.background{padding-bottom: 15px;
    background-color: plum;
    opacity: 100px;


}


