h1,h2,h3,h4{background-color: yellow;
    border-style: solid;
    opacity:4 percent;
    font-size: 20 px;

}
head{font-size: 50px;}


p{ font-family: sans-serif;
    font-size: 20 px;
    font-style: oblique;



}
.interests{
    padding-top: 10px;

}

#col1{
    background-color: violet;

}

#col2{ background-color: yellowgreen;}


#col3{ background-color: tomato;}

.column{ width: 200 px;
    height: 400px;


}

